.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px auto;
}

.navItem {
}

.navLink {
  color: black;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}
